<%# reference the previous question we came from in a post to new questions %>
<div id="defeated">
  <p>
    Bummer! Unfortunately this means I've lost. 
    Type a new question, and then an answer that is the solution to 
    the question!
  </p>
  <p>
  <br />
    Example <br />
    Question: "Does it have 4 legs?"<br />
    Answer:   "Is it a horse?"
    </p>
    <br />
  <form action='/create' method='post'>
    <p>
      <label>Question: </label>
      <input type='text' name='new_question[question]' title='New Question' size=55 />
    </p>
    <p>
      <label>Answer: </label>
      <input type='text' name='answer[question]' title='Correct Answer' size=55 />
    </p>
    <input type='hidden' name='from[id]' value= <%= from_id %> />
    <input type='hidden' name='from[type]' value=<%= @type %> />
    <input type='submit' value="Submit!"/>
  </form>
